@import '~css/vars.scss';

.SK-app {
    > .team {
        position: absolute;
        width: 33.333%;
        height: 100%;
        overflow: hidden;
        margin: auto;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column wrap;

        .name {
            width: 100%;
            padding: 6px;
            font-size: 20px;
            text-align: center;
        }

        .skater-list {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: flex-start;
            /*padding: 6px 16px;*/
            flex: 1;

            > button {
                flex: 0 0 25%;
                height: 64px;
                font-family: $base-font-display;
                font-size: 36px;
                font-weight: bold;
            }
        }

        .skater-decks {
            width: 100%;
            height: auto;
            overflow: hidden;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            align-content: flex-end;
            padding-bottom: 8px;

            > .skater-deck {
                flex: 0 0 70px;
                width: 100%;
                height: 55px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                padding: 16px 0px;
                > button {
                    flex: 0 0 20%;
                    height: 55px;
                    font-size: 36px;
                    font-family: $base-font-display;
                }

                > button:first-child {
                    background-image: url('~images/icons/star.png');
                    background-position: 50% 50%;
                    background-size: 32px;
                    background-repeat: no-repeat;
                }

                > button:nth-child(2) {
                    background-image: url('~images/icons/diagstripe.png');
                    background-position: 50% 50%;
                    background-size: 32px;
                    background-repeat: no-repeat;
                }

                > button.current
                {
                    background-color: $purple-light;
                }

                > button.active {
                    background-position: 95% 5%;
                    background-size: 18px;
                }
            }
        }

        .skater-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: flex-end;
            padding-bottom: 16px;
            > .icon {
                width: 48px;
                height: 48px;
                max-width: 64px;
                max-height: 64px;
                margin-right: 4px;
                border: solid 1px #CCCCCC;
                padding: 8px;
            }
        }
    }

    .team.team-A {
        left: 0;
    }

    .team.team-B {
        left: 33.333%;
    }

    > .positions {
        overflow: hidden;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 33.3333%;
        height: 100%;
        background-color: #111111;
        .team {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            width: 50%;
            height: 100%;
            .skater {
                width: 100%;
                height: 20%;
                position: relative;
                .thumbnail {
                    width: 100%;
                    height: 100%;
                }

                .num {
                    font-family: $base-font-display;
                    font-size: 36px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 0px 4px 4px 0px;
                    text-align: right;
                }
            }
        }

        .team.team-a {
            left:0;
        }

        .team.team-b {
            right:0;
        }
    }
}

@media screen and (max-width:960px) and (min-height: 1080px) { 
    .SK-app {
        .team {
            width: 50%;
            height: calc(100% - 300px);
            bottom: initial;
            top: 0;
        }

        .team.team-B {
            left: 50%;
        }

        .positions {
            top: initial;
            left: 0;
            width: 100%;
            height: 200px;
            .team {
                display: flex;
                flex-flow: row wrap;
                height: 200px;
                .skater {
                    flex: 0 0 20%;
                    height: 200px;
                    border-right: solid 1px #333333;
                    .num {
                        left: 0;
                        text-align: center;
                        height: 48px;
                    }
                }
            }
        }
    }
}