.CC-app {
    > .jammers {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: initial;
        bottom: initial;
        width: 250px;
        height: 125px;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        > .jammer {
            flex: 0 0 50%;
            height: 125px;
            border: solid 3px transparent;
            position: relative;
            transition: opacity 150ms ease-in-out 500ms;
            &.no-jammer {
                opacity: 0.5;
            }
            > .num {
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 2;
                background-color: rgba(0,0,0,0.5);
                padding: 3px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:960px) and (min-height: 1080px) {
    .CC-app {
        > .jammers {
            top: calc(50% - 92px);
            right: 2px;
            height: 100px;
            width: 200px;
            > .jammer {
                height: 100px;
                width: 100px;
            }
        }
    }
}