.rdmgr-api-scores {
    .match-item {
        display: grid;
        grid-template-columns: 45% auto 64px;
        margin-bottom: 8px;
        padding: 6px;
        &:nth-child(even) {
            background-color: #111;
        }
        .date {
            grid-column: span 3;
        }

        .team-a, .team-b {
            display: grid;
            grid-template-rows: 100px 50%;
        }

        .team-a {
            grid-column: 1;
        }

        .team-b {
            grid-column: 2;
        }

        .controls {
            grid-column: 3;
            align-self: center;
            .icon.active {
                opacity: 0.5;
            }
        }
    }
}