@import '~css/vars.scss';

.MEQ-app {
    position: relative;

    > .queue-items {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        width: 300px;
        overflow: hidden scroll;
        height: calc(50% + 24px);
        border-right: solid 1px #333333;

        > .sortable-pane {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            flex-flow: column wrap;
            .sortable {
                flex: 0 0 48px;
                width: 100%;
                position: relative;
                outline: none !important;
                display: flex;
                flex-flow: row wrap;

                > canvas, > .icon {
                    flex: 0 0 48px;
                    max-height: 48px;
                }
                > .remove {
                    pointer-events: all;
                }

                .slide-title {
                    flex: 1;
                    padding: 6px;
                }
            }

            .sortable.active {
                background-color: rgba(0, 255, 0, 0.2);
            }
        }
    }

    > .current-record {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - 600px);
        height: 100%;

        > .record-control {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: translateY(-100%);
            overflow: hidden scroll;
            transition: transform 150ms;
            &.shown {
                transform: translateY(0);
            }
        }

        > .video-preview {
            > video {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            > .camera-styles {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                > div {
                    padding: 8px;
                }
            }
        }

        > .slideshow-slides {
            > .sortable-pane {
                > .sortable {
                    position: relative;
                    flex: 0 0 33.333%;
                    > canvas {
                        height: auto;
                        max-width: 100%;
                    }

                    &:hover {
                        .slide-title {
                            opacity: 1;
                        }
                    }

                    .slide-title {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0,0,0,0.5);
                        text-align: center;
                        font-weight: 100;
                        font-size: 16px;
                        opacity: 0;
                        transition: opacity 250ms;
                    }
                }
            }
        }

        .anthem {
            display: grid;
            grid-template-rows: 100px auto;
            > .singer-name {
                grid-row: 1;
                background-color: rgba(0, 0, 0, 0.8);
                font-size: 36px;
                line-height: 100px;
                text-align: center;
                font-weight: bold;
                text-shadow: 3px 3px 3px #000;
            }

            > .singer-bio {
                grid-row: 2;
                background-color: rgba(0, 0, 0, 0.8);
                padding: 16px;
                font-weight: 100;
                font-size: 22px;
            }
        }
    }

    > .queue-recordsets {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        > .recordset {
            position: relative;
            overflow: hidden;
            flex: 0 0 40px;
            transition: all 150ms linear;
            display: flex;
            flex-flow:  column wrap;

            > button {
                width: 100%;
                text-align: left;
                > .icon {
                    margin-right: 3px;
                }
            }

            .button-icon {
                flex-flow: initial;
            }

            > .record-list {
                overflow: hidden scroll;
                flex: 1;
            }

            > .buttons {
                display: flex;
                flex-flow: row wrap;
                background-color: $purple;
                height: 36px;
                > button {
                    height: 36px;
                }
            }
        }
        > .recordset.shown {
            > button {
                background-color: $green;
            }

            flex: 1;

            > .record-list {
                overflow: hidden scroll;
                button.active {
                    background-color: $purple;
                }
            }
        }
    }

    .recordsets {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-flow: column wrap;

        .record-selector {
            flex: 1;
            display: flex;
            flex-flow: column wrap;
            height: 100%;

            .title {
                background-color: $purple;
                display: flex;
                > span {
                    flex: 1;
                    padding: 6px;
                }
                > .icon {
                    flex: 0;
                }
            }

            .record-lists {
                flex: 1;
                overflow: hidden scroll;
    
                .record-list {
                    display: none;
                    &.shown {
                        display: block;
                    }
                    button {
                        border-color: #666;
                    }
                }
            }
    
            .icons {
                flex: 0;
                background-color: $purple;
                .icon {
                    padding: 6px;
                }
            }
        }

        .sponsor-selector {
            display: flex;
            flex-flow: row wrap;
            background-color: $purple;
            height: 36px;

            select {
                flex: 1;
                padding: 3px;
                height: 36px;
            }

            .icon {
                flex: 0;
                max-height: 36px;
            }
        }
    }
}

.MEQ-raffle {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 300px;
    display: none;
    &.shown {
        display: block;
    }
    .panel.RAF-panel {
        position: absolute;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        max-height: 100%;
        > .content {
            border: none;
            background-color: $purple;
        }
    }
}

.panel.MEQ-panel {
    > .content {
        z-index: 2 !important;
        overflow: visible !important;
    }
    > .buttons {
        z-index: 1 !important;
        overflow: visible;
        .btn-volume {
            width: 250px;
            height: 100%;
            border: none;
            overflow: visible;
            padding: 0px 24px 0px 12px;
            cursor: default;

            .MuiSlider-root {
                padding: 0px;
                height: 36px;
                .MuiSlider-rail,
                .MuiSlider-track,
                .MuiSlider-mark,
                .MuiSlider-thumb
                {
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    height: 16px;
                }
                
                .MuiSlider-mark {
                    height: 3px;
                }
                
                .MuiSlider-thumb,
                .MuiSlider-track {
                    color: $green;
                }

                .MuiSlider-thumb {
                    border-radius: 0px 16px 16px 0px;
                }
            }
        }

        .btn-volume.muted {
            .MuiSlider-thumb,
            .MuiSlider-track {
                background-color: #999999;
            }
        }
    }
    
    .panel.display-options {
        max-width:100%;
    }
}

@media screen and (max-width:960px) and (min-height: 1080px) {
    .MEQ-app {
        .queue-recordsets {
            top: initial;
            height: 60%;
        }
        .queue-items {
            left: initial;
            right: 0;
            height: 40%;
        }

        .current-record {
            width: calc(100% - 300px);
            left: 0;
            right: initial;
        }
    }
}