//base colors
$base-foreground: #FFFFFF;
$base-background: #000000;

/* colors */
$purple: #1b1928;
$purple-light: #343045;
$black-faded: #222222;
$green: #009900;
$darkgreen: #006600;
$blue: #006699;
$iceblue: #00CCFF;
$black: #000000;
$grey: #AAAAAA;
$warning: #FF9933;
$danger: #FF6666;
$blood: #990000;
$powerjam: #AA7700;
$white: #FFFFFF;
$navy: #272264;
$gold: #edbf07;

/* fonts */
$base-font: Arial, Helvetica, sans-serif;
$base-font-size: 18px;
$base-font-display: 'Liquid Crystal';
$mono-font: 'Courier New';

/* Input Elements */
$input-background: #000000;
$input-color: #FFFFFF;
$input-padding: 3px;
$input-border: solid 1px #CCCCCC;