.file-browser {
    position: relative;
    width: 100%;
    height: 100%;

    .panel.preview {
        z-index: 5;
        max-width: 50%;
        > .content {
            position: relative;
            text-align: center;
            img {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
            }
        }
    }

    .panel.folder-list {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 100%;
        .folders {
            position: absolute;
            height: calc(100% - 16px);
            overflow: hidden auto;
            width: 100%;
            .folder-item {
                > button {
                    width: 100%;
                    text-align: left;
                    border: none;
                }
    
                > .folder-item {
                    padding-left: 16px;
                }
            }
        }

        .progress-bar {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 0px;
        }
    }


    .file-list {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 200px);
        height: 100%;
        overflow: hidden scroll;

        > .file-item {
            position: relative;
            float: left;
            width: 150px;
            height: 150px;
            border: solid 1px #333333;
            overflow: hidden;

            > .name {
                position: absolute;
                margin: auto;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                opacity: 0;
                transition: opacity 150ms;
                text-align: center;
                z-index: 1;
                cursor: pointer;
                font-size: 14px;
            }

            > .buttons {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                background-color: rgba(0,0,0,0.5);
                transform: translateY(100%);
                transition: transform 150ms;
                text-align: center;
                > .icon {
                    max-height: 32px;
                }
            }
        }

        .file-item:hover {
            .name {
                opacity: 1;
            }

            .buttons {
                transform: translateY(0);
            }
        }
    }
}

.file-browser-panel {
    z-index: 1000;
    height: calc(100% - 72px);
    top: 24px;
}