@import 'src/css/vars.scss';

.capture-scorekeeper {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;

    .jammers {
        position: absolute;
        margin: auto;
        top: 70px;
        right: 32px;
        display: flex;
        flex-flow: row wrap;
        transform: rotateX(90deg) scaleX(1.5);
        transform-origin: 50% 50%;
        transition: transform 150ms ease-in-out;

        > .skater {
            position: relative;
            flex: 1;
            width: 80px;
            height: 80px;
            overflow: visible;
            transform-origin: 50% 50%;
            transform: translateX(200px);
            transition: all 150ms ease-in-out;
            opacity: 0;
            &.shown {
                transform: translateX(0px);
                opacity: 1;
            }

            > img {
                height: 100%;
            }

            > label {
                position: absolute;
                margin: auto;
                bottom: 0;
                left: 0;
                right: 0;
                bottom: -24px;
                padding: 2px 3px;
                text-align: center;
                font-family: $base-font-display;
                font-size: 22px;
                text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            }
        }
    }

    &.shown {
        .jammers {
            transform: rotateX(0deg) scaleX(1);
        }
    }
}

.capture-form.sponsor-board {
    .capture-scorekeeper {
        z-index: 100;
        .jammers {
            width: 100%;
            left: 0;
            right: 0;
            bottom: 112px;
            top: initial;
            > .skater {
                width: 50%;
                height: 200px;
                img {
                    position: absolute;
                    bottom: 0;
                    width: 200px;
                    height: auto;
                }
                label {
                    flex: 1;
                    right: initial;
                    left: 200px;
                    bottom: 0;
                    font-size: 172px;
                    line-height: 172px;
                    height: 100%;
                    width: calc(100% - 200px);
                    padding: 0px 0px 0px 16px;
                }
            }

            > .skater:nth-child(2) {
                img {
                    right: 0;
                }
                label {
                    right: 200px;
                    left: initial;
                }
            }
        }

        @media screen and (max-width:1024px) {
            .jammers {
                bottom: 80px;
                > .skater {
                    height: 150px;
                    > img {
                        width: 150px;
                    }
                    > label {
                        font-size: 124px;
                        line-height: 124px;
                        left: 150px;
                        width: calc(100% - 150px);
                    }
                }

                > .skater:nth-child(2) {
                    img {
                        right: 0;
                    }
                    label {
                        right: 150px;
                        left: initial;
                    }
                }
            }
        }
    }

    &.jamming {
        .capture-scorekeeper {
            .jammers {
                > .skater {
                    > label {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.capture-form.scoreboard-shown {
    .capture-scorekeeper.shown {
        display: none;
    }
}