@import 'src/css/vars.scss';

.capture-SB-banner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    overflow: visible;
    background-color: $black;
    font-family: $base-font-display;
    z-index: 7;
    transition: transform 350ms linear, opacity 350ms linear;
    transform: translateY(-150px);

    &.shown {
        transform: translateY(0px);
    }

    .coverblock,
    .jamclock, 
    .gameclock, 
    .phase, 
    .jam-counter,
    .board-status,
    .team {
        position: absolute;
        margin: auto;
        z-index: 3;
    }

    .coverblock {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: inherit;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }

    .jamclock {
        font-size: 52px;
        top: 0px;
        left: 620px;
        width: 70px;
        height: 65px;
        padding-left: 12px;
        line-height: 65px;
        border-radius: 8px;
        background-color: $black-faded;
    }

    .gameclock {
        font-size: 48px;
        top: 0px;
        left: 500px;
        height: 65px;
        line-height: 65px;
    }

    .phase {
        font-size: 36px;
        line-height: 65px;
        top: 0px;
        left: 705px;
        height: 65px;
        text-align: center;
        width: 200px;
    }

    .jam-counter {
        font-size: 36px;
        line-height: 64px;
        top: 0px;
        left: 910px;
        width: 50px;
        height: 65px;
        text-align: center;
        padding-left: 5px;
        background-color: $black-faded;
    }

    .board-status {
        left: 710px;
        width: 185px;
        height: 30px;
        bottom: 0px;
        text-align: center;
        line-height: 30px;
        transition: transform 150ms linear;
        transform-origin: 0% 0%;
        transform: scaleX(0);
        z-index: 3;

        &.shown {
            transform: scaleX(1);
        }

        &.timeout,
        &.review
        {
            background-color: $blood;
        }
        &.injury {
            background-color: $blue;
        }
        &.upheld {
            background-color: #666666;
        }
        &.overturned {
            background-color: $green;
        }
    }

    .team {
        top: 0px;
        width: 225px;
        height: 65px;

        .team-top {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            height: 65px;
            width: 100%;
            background-color: $black;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 2;
            .score {
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                font-size: 4vw;
                line-height: 60px;
            }
        }

        .jampoints {
            position: absolute;
            margin: auto;
            overflow: hidden;
            right: 0;
            bottom: 8px;
            height: 40px;
            width: 52px;
            padding: 3px;
            text-align: center;
            font-size: 32px;
            padding-left: 6px;
            line-height: 28px;
            border-radius: 8px 0px 0px 8px;
            transform-origin: 100% 0%;
            transform: scaleX(0);
            transition: transform 150ms linear;
            z-index: 3;
            &.shown {
                transform: scaleX(1);
            }
        }

        .status {
            position: absolute;
            margin: auto;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 10px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            line-height: 28px;
            transform-origin: 0% 0%;
            transform: scaleX(0);
            transition: transform 150ms linear;
            overflow: hidden;
            z-index: 2;
            &.shown {
                transform: scaleX(1);
            }
            &.leadjammer {
                background-color: #00CC00;
            }

            &.powerjam {
                background-color: #FFCC00;
            }

            &.timeout, &.challenge {
                background-color: #CC0000;
            }
        }

        .timeouts {
            position: absolute;
            margin: auto;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 8px;
            > div {
                width: 16px;
                height: 6px;
                border-radius: 3px;
                background-color: #FFFFFF;
                border: solid 1px $black;
                float: left;
            }
        }

        &.team-A {
            left: 15px;
        }

        &.team-B {
            left: 255px;
        }
    }

    &.longjam {
        .jamclock {
            width: 130px;
        }

        .phase {
            left: 755px;
        }

        .jam-counter {
            left: 955px;
        }
        .board-status {
            left: 760px;
        }
    }

    &.noclocks {
        .jamclock, .gameclock {
            display: none;
        }
    
        .phase {
            left: 600px;
        }
    
        .jam-counter {
            left: 520px;
            width: 70px;
            background-color: transparent;
        }
        .jam-counter:before {
            content: '#'
        }

        .board-status {
            left: 605px;
        }
    }

    @media screen and (min-width:1920px) {
        height: 125px;

        * {
            //outline: dotted 1px #009900;
        }

        .team {
            height: 120px;
            width: 350px;
            .team-top {
                height: 125px;
                .score {
                    font-size: 4vw;
                    top: 28px;
                }
            }

            &.team-B {
                left: 375px;
            }

            .jampoints {
                bottom: 30px;
                height: 55px;
                width: 75px;
                font-size: 2.5vw;
                line-height: 2.2vw;
            }

            .timeouts {
                height: 10px;
                bottom: 4px;
                > div {
                    height: 10px;
                    width: 32px;
                }
            }

            .status {
                height: 18px;
            }
        }

        .jam-counter, .phase, .jamclock, .gameclock {
            left: initial;
            right: 0;
            height: 75px;
            top: 24px;
            font-size: 3vw;
            text-align: center;
        }

        .jam-counter {
            right: 370px;
            width: 100px;
        }

        .phase {
            right: 470px;
            width: 400px;
        }

        .jamclock {
            right: 870px;
            width: 100px;
            padding-right: 8px;
        }

        .gameclock {
            right: 970px;
            width: 220px;
        }

        .board-status {
            left: initial;
            right: 470px;
            width: 400px;
            bottom: 0;
        }

        &.longjam {
            .gameclock, .jamclock, .jam-counter, .phase {
                left: initial;
                right: 0;
                height: 75px;
                top: 24px;
                font-size: 3vw;
                text-align: center;
            }

            .jam-counter {
                right: 300px;
                width: 100px;
            }
    
            .phase {
                right: 400px;
                width: 400px;
            }
    
            .jamclock {
                right: 800px;
                width: 160px;
                padding-right: 8px;
            }
    
            .gameclock {
                right: 960px;
                width: 230px;
            }
        }

        &.noclocks {
            
            .phase {
                right: initial;
                left: 730px;
            }
            .jam-counter {
                right: initial;
                left: 1140px;
                width: 120px;
            }

            .board-status {
                right: initial;
                left: 730px;
                height: 34px;
                font-size: 1.25vw;
            }
        }
    }
}

.capture-jam-counter
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14;
    font-family: $base-font-display;
    font-size: 700px;
    line-height: 650px;
    width: 100%;
    text-align: center;
    padding-left: 64px;
    opacity: 0;
    transition: opacity 150ms, font-size 150ms, line-height 150ms;

    @media (max-height:576px) {
        font-size: 480px;
    }
}