@import 'src/css/vars.scss';

.capture-raffle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 11;
    opacity: 0;
    transition: all 150ms linear 500ms;
    background-size: cover;
    background-repeat: no-repeat;

    &.shown {
        opacity: 1;
    }
    

    > .ticket {
        width: 720px;
        height: 180px;
        color: #003366;
        background: #FFFF00 none center center contain;
        padding: 16px 16px 16px 32px;
        font-family: $base-font-display;
        font-size: 128px;
        line-height: 140px;
        text-align: center;
        margin: 16px;
        font-weight: bold;
        text-shadow: 3px 3px 5px rgba(150,0,0,0.5);
        animation: aniRaffleTicketHidden 500ms forwards;
        transform-origin: 100% 50%;
        &.shown {
            animation: aniRaffleTicketShown 500ms forwards;
        }

        @keyframes aniRaffleTicketHidden {
            0% {
                transform: translateX(0px) rotateX(0deg);
                filter: grayscale(0);
                font-size: 128px;
                transform-origin: 100% 50%;
            }

            50% {
                transform: translateX(0px) rotateX(75deg);
                filter: grayscale(1);
                font-size: 64px;
                transform-origin: 100% 50%;
            }

            100% {
                transform: translateX(-2480px) rotateX(75deg);
                filter: grayscale(1);
                font-size: 64px;
                transform-origin: 100% 50%;
            }
        }

        @keyframes aniRaffleTicketShown {
            0% {
                transform: translateX(-2480px) rotateX(75deg);
                filter: grayscale(1);
                font-size: 64px;
                transform-origin: 100% 50%;
            }

            50% {
                transform: translateX(0px) rotateX(75deg);
                filter: grayscale(1);
                font-size: 64px;
                transform-origin: 100% 50%;
            }

            100% {
                transform: translateX(0px) rotateX(0deg);
                filter: grayscale(0);
                font-size: 128px;
                transform-origin: 100% 50%;
            }
        }
    }
}

.capture-form.stream {
    .capture-raffle {
        display: none;
    }
}

@media screen and (max-height: 576px) {
    .capture-raffle {
        .ticket {
            width: 800px;
            height: 150px;
            font-size: 116px;
            line-height: 108px;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}