@import 'src/css/vars.scss';

.capture-SB {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: $base-font-display;
    opacity: 0;
    background-color: $black;
    z-index: 10;
    transition: 
        transform 500ms ease-in-out,
        opacity 500ms linear, 
        background-color 500ms ease-in-out,
        color 500ms ease-in-out
        ;
    backface-visibility: hidden;

    .jamclock {
        position: absolute;
        margin: auto;
        top: 50px;
        left: 0;
        right: 0;
        width: 360px;
        height: 310px;
        font-size: 360px;
        line-height: 270px;
        padding-left: 16px;
        text-align: center;
    }

    .jamclock.running {
        color: $iceblue;
    }

    .jamclock.warning {
        color: $warning;
    }

    .jamclock.danger {
        color: $danger;
    }

    .jamclock.stopped {
        color: $grey;
    }

    .gameclock,
    .breakclock,
    .jam-counter,
    .board-status,
    .phase {
        position: absolute;
        margin: auto;
        left: 50px;
        bottom: 140px;
        width: 360px;
        text-align: center;
        font-size: 60px;
        overflow: hidden;
        line-height: 58px;
        height: 64px;
    }

    .jam-counter {
        bottom: 76px;
    }

    .breakclock,
    .board-status {
        left: initial;
        right: 50px;
        height: 130px;
        bottom: 76px;
        border-radius: 16px;
        line-height: 62px;
        transform: rotateY(90deg);
        transition: transform 150ms linear, background-color 150ms linear;
    }

    .board-status.shown {
        transform: rotateY(0deg);
    }

    .board-status.timeout,
    .board-status.review
    {
        background-color: $blood;
    }

    .board-status.injury {
        background-color: $blue;
    }

    .board-status.upheld {
        background-color: $grey;
        color: $black;
        line-height: 120px;
        font-size: 82px;
    }
    
    .board-status.overturned {
        background-color: $green;
        line-height: 120px;
        font-size: 64px;
    }

    .breakclock {
        font-size: 128px;
        line-height: 112px;
        padding-left: 16px;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: transform 150ms linear;
    }

    .breakclock.shown {
        transform: rotateY(0deg);
    }

    .gameclock {
        left: 0;
        right: 0;
        height: 130px;
        bottom: 76px;
        font-size: 128px;
        line-height: 112px;
    }

    .jamstate {
        width: 50px;
        height: 50px;
        border-radius: 150px;
        position: absolute;
        margin: auto;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(#00FF00, #006600, #001100);
        box-shadow: 0px 0px 35px rgba(0, 255, 0, 0.5);
        z-index: 5;
        opacity: 0;
        transform: scale(0,0);
        transition: transform 150ms linear, opacity 150ms linear;
    }

    .jamstate.shown {
        transform: scale(1,1);
        opacity: 1;
    }

    .jamstate.warning {
        background-image: radial-gradient(#FF0000, #990000, #001100);
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.5);
    }

    .jamstate.warning.shown {
        transform: scale(1, 1);
    }

    .team {
        position: absolute;
        margin: auto;
        top: 50px;
        width: 360px;
        height: 450px;
        overflow: visible;

        .logo {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 200px;
            text-align: center;
            z-index: 1;
        }

        .score {
            position: absolute;
            margin: auto;
            top: 200px;
            left: 0;
            right: 0;
            font-size: 200px;
            text-align: center;
            background-color: #222222;
            text-align: center;
            width: 100%;
            height: 200px;
            line-height: 164px;
            padding-left: 20px;
            border-radius: 16px;
            border: solid 6px #FFFFFF;
            z-index: 3;
            transition: 
                background-color 150ms ease-in-out 250ms,
                color 150ms ease-in-out,
                border 150ms ease-in-out 250ms
                ;
        }

        .status {
            position: absolute;
            margin: auto;
            top: 150px;
            width: 100%;
            height: 80px;
            text-align: center;
            font-size: 42px;
            border-radius: 16px 16px 0px 0px;
            border: solid 3px #FFFFFF;
            transform: translateY(50px);
            transition: transform 150ms linear, background-color 150ms linear;
            z-index: 2;
        }

        .status.shown {
            transform: translateY(0px);
        }

        .status.powerjam {
            background-color: $powerjam;
        }

        .status.leadjammer {
            background-color: $green;
        }

        .status.challenge, 
        .status.timeout {
            background-color: $blood;
        }

        .timeouts, .challenges {
            position: absolute;
            margin: auto;
            top: 400px;
            width: 50%;
            height: 50px;
            text-align: center;
        }

        .timeouts {
            left: 0;
        }

        .challenges {
            right: 0;
        }

        .jampoints {
            position: absolute;
            margin: auto;
            top: 280px;
            font-size: 96px;
            z-index: 2;
            width: 200px;
            height: 100px;
            border-radius: 16px;
            border: solid 3px #FFFFFF;
            background-color: #222222;
            line-height: 84px;
            padding-left: 16px;
        }

        .timeouts,
        .challenges
        {
            > img {
                transition: filter 150ms linear 250ms;
            }
        }
    }

    .team.team-a {
        left: 50px;
        .jampoints {
            right: 0;
            text-align: right;
            transition: transform 150ms linear;
        }

        .jampoints.shown {
            transform: translateX(120px);
        }
    }

    .team.team-b {
        right: 50px;
        .jampoints {
            left: 0;
            text-align: left;
            transition: transform 150ms linear;
            padding-left: 12px;
        }

        .jampoints.shown {
            transform: translateX(-120px);
        }
    }
}

.capture-SB.jamming {
    .phase,
    .jam-counter,
    .team .timeouts,
    .team .challenges {
        opacity: 0.4;
    }
}

.capture-SB.shown {
    opacity: 1;
}

.capture-SB.light {
    background-color: $white;
    color: #111111;
    transition: 
        transform 500ms linear,
        opacity 150ms linear, 
        background-color 150ms ease-in-out 250ms,
        color 150ms ease-in-out 250ms
        ;
    /*transform: rotateY(360deg);*/

    .jamclock.running {
        transition: color 150ms ease-in-out 250ms;
        color: $black;
    }

    .jamclock.warning {
        transition: color 150ms ease-in-out 250ms;
        color: #773300;
    }

    .jamclock.danger {
        transition: color 150ms ease-in-out 250ms;
        color: #990000;
    }

    .jamclock.stopped {
        transition: color 150ms ease-in-out 250ms;
        color: #555555;
    }

    .board-status.upheld {
        background-color: $grey;
        color: $black;
    }
    
    .board-status.overturned {
        background-color: $green;
        color: $white;
    }

    .jamstate {
        background-image: radial-gradient(#00FF00, #006600, #001100);
        box-shadow: 0px 0px 35px rgba(0, 255, 0, 0.5);
    }

    .jamstate.warning {
        background-image: radial-gradient(#FF0000, #990000, #001100);
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.5);
    }

    .board-status.timeout,
    .board-status.review
    {
        color: $white;
    }

    .board-status.injury {
        color: $white;
    }

    .team {
        .score {
            color: #111111;
            background-color: #FFFFFF !important;
            border: solid 6px #111111;
            transition: 
                background-color 150ms ease-in-out 250ms,
                color 150ms ease-in-out,
                border 150ms ease-in-out 250ms
                ;
        }

        .status {
            border: solid 3px #111111;
            color: $white;
        }

        .status.powerjam {
            background-color: $powerjam;
        }

        .status.leadjammer {
            background-color: $green;
        }

        .status.challenge, 
        .status.timeout {
            background-color: $blood;
        }

        .jampoints {
            border: solid 3px #111111;
            color: #FFFFFF !important;
            background-color: #111111 !important;
        }

        .timeouts,
        .challenges
        {
            > img {
                filter: invert(100%);
            }
        }
    }
}

.capture-SB-banner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    overflow: visible;
    background-color: $black;
    font-family: $base-font-display;
    opacity: 0;
    z-index: 10;
    transition: transform 350ms linear, opacity 350ms linear;
    transform: translateY(-150px);

    .jamclock {
        position: absolute;
        margin: auto;
        font-size: 52px;
        top: 0px;
        left: 620px;
        width: 70px;
        height: 65px;
        padding-left: 12px;
        line-height: 65px;
        border-radius: 8px;
        background-color: $black-faded;
    }

    .gameclock {
        position: absolute;
        margin: auto;
        font-size: 48px;
        top: 0px;
        left: 500px;
        height: 65px;
        line-height: 65px;
    }

    .phase {
        position: absolute;
        margin: auto;
        font-size: 36px;
        line-height: 65px;
        top: 0px;
        left: 705px;
        height: 65px;
        text-align: center;
        width: 200px;
    }

    .jam-counter {
        position: absolute;
        margin: auto;
        font-size: 36px;
        line-height: 64px;
        top: 0px;
        left: 910px;
        width: 50px;
        height: 65px;
        text-align: center;
        padding-left: 5px;
        background-color: $black-faded;
    }

    .board-status {
        position: absolute;
        margin: auto;
        left: 500px;
        width: 185px;
        height: 35px;
        bottom: -35px;
        text-align: center;
        line-height: 30px;
        border-radius: 0px 0px 16px 16px;
        transition: transform 150ms linear;
        transform-origin: 0% 0%;
        transform: rotateY(90deg);
    }

    .board-status.shown {
        transform: rotateY(0deg);
    }

    .board-status.timeout,
    .board-status.review
    {
        background-image: linear-gradient($blood, rgba(0,0,0,0));
    }

    .board-status.injury {
        background-image: linear-gradient($blue, rgba(0,0,0,0));
    }

    .board-status.upheld {
        background-image: linear-gradient(#666666, rgba(0,0,0,0));
    }

    .board-status.overturned {
        background-image: linear-gradient($green, rgba(0,0,0,0));
    }

    .team {
        position: absolute;
        margin: auto;
        top: 0px;
        width: 225px;
        height: 65px;
        z-index: 1;

        .team-top {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            height: 65px;
            width: 100%;
            background-color: $black;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 2;
        }

        .team-top .score {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            font-size: 58px;
        }

        .jampoints {
            position: absolute;
            margin: auto;
            right: 0;
            bottom: -40px;
            height: 40px;
            width: 45px;
            padding: 3px;
            text-align: center;
            font-size: 32px;
            padding-left: 6px;
            line-height: 28px;
            border-radius: 0px 0px 8px 8px;
            transform-origin: 50% 0%;
            transform: translateY(-40px);
            transition: transform 150ms linear;
            z-index: 1;
        }

        .jampoints.shown {
            transform: translateY(0px);
            box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        }

        .status {
            position: absolute;
            margin: auto;
            bottom: -30px;
            left: 0;
            width: calc(100% - 45px);
            height: 30px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            border-radius: 0px 0px 8px 8px;
            line-height: 28px;
            transform-origin: 0% 0%;
            transform: rotateX(90deg);
            transition: transform 150ms linear;
        }

        .status.shown {
            transform: rotateY(0deg);
        }

        .status.leadjammer {
            background-image: linear-gradient($green, rgba(0,0,0,0));
        }

        .status.powerjam {
            background-image: linear-gradient($powerjam, rgba(0,0,0,0));
        }

        .status.timeout,
        .status.challenge
        {
            background-image: linear-gradient($blood, rgba(0,0,0,0));
        }

        .timeouts {
            position: absolute;
            margin: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 8px;
        }

        .timeouts > div {
            width: 16px;
            height: 6px;
            border-radius: 3px;
            background-color: #FFFFFF;
            border: solid 1px $black;
            float: left;
        }
    }

    .team.team-a {
        left: 15px;
    }

    .team.team-b {
        left: 255px;
    }
}

.capture-SB-banner.shown
{
    opacity: 1;
    transform: translateY(0px);
}

.capture-SB-banner.noclocks {
    .jamclock, .gameclock {
        display: none;
    }

    .phase {
        left: 600px;
    }

    .jam-counter {
        left: 520px;
    }
    .jam-counter:before {
        content: '#'
    }
}

.capture-SB-banner.pos-bottom ,
.capture-form.sponsor-board > .capture-SB-banner
{
    top: initial;
    bottom: 0;
    transform: translateY(80px);

    .board-status {
        bottom: initial;
        top: -60px;
        left: 0;
        right: 0;
        width: 45%;
        height: 60px;
        font-size: 48px;
        line-height: 48px;
        border-radius: 0px;
        width: 100%;
    }

    .board-status.timeout,
    .board-status.review
    {
        background-image: none;
        background-color: $blood;
    }

    .board-status.injury {
        background-image: none;
        background-color: $blue;
    }

    .board-status.upheld {
        background-color: #666666;
        background-image: none;
    }

    .board-status.overturned {
        background-color: $green;
        background-image: none;
    }

    .team {
        .jampoints {
            bottom: initial;
            top: 0px;
            border-radius: 8px 8px 0px 0px;
            transform: translateY(0px);
        }

        .jampoints.shown {
            transform: translateY(-40px);
            box-shadow: 0px -2px 2px rgba(0,0,0,0.5);
        }
        
        .status {
            bottom: initial;
            top: -30px;
            transform-origin: 50% 100%;
            border-radius: 8px 8px 0px 0px;
            line-height: 35px;
        }

        .status.shown {
            transform: rotateY(0deg);
        }

        .status.leadjammer {
            background-image: linear-gradient(rgba(0,0,0,0), $green);
        }

        .status.powerjam {
            background-image: linear-gradient(rgba(0,0,0,0), $powerjam);
        }

        .status.timeout,
        .status.challenge
        {
            background-image: linear-gradient(rgba(0,0,0,0), $blood);
        }
    }
}

.capture-form.sponsor-board > .capture-SB-banner.shown,
.capture-SB-banner.pos-bottom.shown {
    transform: translateY(0px);
}

.capture-form.sponsor-board > .capture-SB-banner {
    z-index: 100;
    height: 112px;
    background-color: transparent;
    transition: transform 150ms, opacity 500ms ease-in-out 150ms;
    transform: translateY(0px);
    opacity: 1;

    .phase, .jam-counter, .jamclock {
        display: none;
    }

    .gameclock {
        width: 450px;
        left: 430px;
        text-align: center;
        height: 112px;
        font-size: 96px;
        line-height: 96px;
        padding-right: 24px;
        background-color: #000000;
    }

    .team {
        background-color: #000000;
        .team-top {
            background-position: top center;
            background-size: cover;
            .score {
                min-width: 40%;
                text-align: center;
            }
        }

        .timeouts {
            transform: rotateY(180deg) rotateZ(90deg) translateY(125px) translateX(60px) rotateX(180deg) scale(0.97);
            background-color: #000000;
            padding: 16px 16px 16px 12px;
            > div {
                height: 16px;
                margin-top: -8px;
            }
        }
    }

    .team.team-a {
        transform-origin: 0 0;
        transform: scale(1.72);
        left: 0;

        .jampoints {
            transform: translateX(-15px) scale(1.5);
        }

        .jampoints.shown {
            transform: translateX(-15px) translateY(-55px) scale(1.5);
        }

        .status {
            position: fixed;
            transform: rotateZ(90deg) translateX(-100%) translateY(90px) scale(2.01);
            color: transparent;
            text-shadow: none;
        }
    }

    .team.team-b {
        transform-origin: 50% 0;
        transform: rotateY(180deg) scale(1.72);
        left: initial;
        right: 80px;
        .score
        {
            transform: rotateY(180deg);
            padding-left: 6px;
        }

        .status {
            position: fixed;
            line-height: 24px;
            border-radius: 0px;
            transform: rotateY(180deg) rotateZ(90deg) translateX(-100%) translateY(-31px) scale(2.01);
            color: transparent;
            text-shadow: none;
        }

        .status.leadjammer {
            background-image: linear-gradient(0deg, rgba(0,0,0,0), $green);
        }

        .status.powerjam {
            background-image: linear-gradient(0deg, rgba(0,0,0,0), $powerjam);
        }

        .status.timeout,
        .status.challenge
        {
            background-image: linear-gradient(0deg, rgba(0,0,0,0), $blood);
        }

        .jampoints {
            transform: rotateY(180deg) translateX(15px) scale(1.5);
        }

        .jampoints.shown {
            transform: rotateY(180deg) translateX(15px) translateY(-55px) scale(1.5);
        }
    }
}

.capture-jam-counter,
.capture-jam-clock
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    font-family: $base-font-display;
    font-size: 700px;
    line-height: 650px;
    width: 100%;
    text-align: center;
    padding-left: 64px;
    opacity: 0;
    transition: opacity 150ms, font-size 150ms, line-height 150ms;
}

.capture-jam-counter.shown,
.capture-jam-clock.shown
{
    opacity: 1;
}

.capture-jam-clock.warning {
    color: $warning;
}

.capture-jam-clock.danger {
    color: $danger;
}


//sponsor board 
.capture-form.sponsor-board {
    .capture-jam-clock {
        opacity: 0;
    }
}

.capture-form.sponsor-board.jamming {
    .capture-jam-clock {
        bottom: initial;
        font-size: 600px;
        line-height: 575px;
        background-color: #000000;
        height: calc(100% - 112px);
        z-index: 99;
    }

    .capture-jam-clock.shown {
        opacity: 1;
    }
}