@import 'src/css/vars.scss';

.capture-form.stream {
    .capture-SB {
        display: none;
    }
}

.capture-SB {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: $base-font-display;
    opacity: 0;
    background-color: $black;
    z-index: 8;
    transition: 
        transform 500ms ease-in-out,
        opacity 500ms linear, 
        background-color 500ms ease-in-out,
        color 500ms ease-in-out
        ;
    backface-visibility: hidden;
    &.shown {
        opacity: 1;
    }

    .jamclock {
        position: absolute;
        margin: auto;
        top: 50px;
        left: 0;
        right: 0;
        width: 360px;
        height: 310px;
        font-size: 300px;
        line-height: 270px;
        padding-left: 36px;
        text-align: center;
    }

    .jamclock.longjam {
        font-size: 160px;
        line-height: 200px;
        padding-left: 0px;
    }

    .jamclock.running {
        color: $iceblue;
    }

    .jamclock.warning {
        color: $warning;
    }

    .jamclock.danger {
        color: $danger;
    }

    .jamclock.stopped {
        color: $grey;
    }

    .gameclock,
    .breakclock,
    .jam-counter,
    .board-status,
    .phase {
        position: absolute;
        margin: auto;
        left: 50px;
        bottom: 140px;
        width: 360px;
        text-align: center;
        font-size: 60px;
        overflow: hidden;
        line-height: 58px;
        height: 64px;
    }

    .jam-counter {
        bottom: 76px;
    }

    .league-logo {
        position: absolute;
        z-index: 2;
        margin: auto;
        right: 150px;
        bottom: 60px;
        width: 150px;
        max-height: 150px;
        opacity: 0;
        transition: 150ms opacity 150ms ease-in-out;
        &.shown {
            opacity: 1;
        }
    }

    .breakclock,
    .board-status {
        left: initial;
        z-index: 3;
        right: 50px;
        height: 130px;
        bottom: 76px;
        border-radius: 16px;
        line-height: 62px;
        transform: rotateY(90deg);
        transition: transform 150ms linear, background-color 150ms linear;
    }

    .board-status {
        z-index: 4;
        &.shown {
            transform: rotateY(0deg);
        }

        &.timeout,
        &.review
        {
            background-color: $blood;
        }
    
        &.injury {
            background-color: $blue;
        }
    
        &.upheld {
            background-color: $grey;
            color: $black;
            line-height: 120px;
            font-size: 82px;
        }
        
        &.overturned {
            background-color: $green;
            line-height: 120px;
            font-size: 64px;
        }
    }

    .breakclock {
        font-size: 128px;
        line-height: 112px;
        padding-left: 16px;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: transform 150ms linear;
    }

    .breakclock.shown {
        transform: rotateY(0deg);
    }

    .gameclock {
        left: 0;
        right: 0;
        height: 130px;
        bottom: 76px;
        font-size: 128px;
        line-height: 112px;
        &.hours {
            font-size: 96px;
        }
    }

    .jamstate {
        width: 50px;
        height: 50px;
        border-radius: 150px;
        position: absolute;
        margin: auto;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(#00FF00, #006600, #001100);
        box-shadow: 0px 0px 35px rgba(0, 255, 0, 0.5);
        z-index: 5;
        opacity: 0;
        transform: scale(0,0);
        transition: transform 150ms linear, opacity 150ms linear;
        &.shown {
            transform: scale(1,1);
            opacity: 1;
        }

        &.warning {
            background-image: radial-gradient(#FF0000, #990000, #001100);
            box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.5);
            &.shown {
                transform: scale(1, 1);
            }
        }
    }

    .team {
        position: absolute;
        margin: auto;
        top: 50px;
        width: 360px;
        height: 450px;
        overflow: visible;
        z-index: 3;

        .logo {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 200px;
            text-align: center;
            z-index: 1;
        }

        .score {
            position: absolute;
            margin: auto;
            top: 200px;
            left: 0;
            right: 0;
            font-size: 160px;
            text-align: center;
            background-color: #222222;
            text-align: center;
            width: 100%;
            height: 200px;
            line-height: 164px;
            padding-left: 20px;
            border-radius: 16px;
            border: solid 6px #FFFFFF;
            z-index: 3;
        }

        .status {
            position: absolute;
            margin: auto;
            top: 150px;
            width: 100%;
            height: 80px;
            text-align: center;
            font-size: 42px;
            border-radius: 16px 16px 0px 0px;
            border: solid 3px #FFFFFF;
            transform: translateY(50px);
            transition: transform 150ms linear, background-color 150ms linear;
            z-index: 2;
        }

        .status.shown {
            transform: translateY(0px);
        }

        .status.powerjam {
            background-color: $powerjam;
        }

        .status.leadjammer {
            background-color: $green;
        }

        .status.challenge, 
        .status.timeout {
            background-color: $blood;
        }

        .timeouts, .challenges {
            position: absolute;
            margin: auto;
            top: 400px;
            width: 50%;
            height: 50px;
            text-align: center;
        }

        .timeouts {
            left: 0;
        }

        .challenges {
            right: 0;
        }

        .jampoints {
            position: absolute;
            margin: auto;
            top: 280px;
            font-size: 96px;
            z-index: 2;
            width: 200px;
            height: 100px;
            border-radius: 16px;
            border: solid 3px #FFFFFF;
            background-color: #222222;
            line-height: 84px;
            padding-left: 16px;
        }

        .timeouts,
        .challenges
        {
            > img {
                transition: filter 150ms linear 250ms;
            }
        }
    }

    .team.team-A {
        left: 50px;
        .jampoints {
            right: 0;
            text-align: right;
            transition: transform 150ms linear;
        }

        .jampoints.shown {
            transform: translateX(120px);
        }
    }

    .team.team-B {
        right: 50px;
        .jampoints {
            left: 0;
            text-align: left;
            transition: transform 150ms linear;
            padding-left: 12px;
        }

        .jampoints.shown {
            transform: translateX(-120px);
        }
    }

    @media screen and (max-width: 1024px) {
        .jamclock {
            font-size: 260px;
            top: 20px;
            padding-left: 28px;
        }

        .team {
            width: 300px;
            .logo {
                max-height: 150px;
            }
            .score {
                width: 300px;
                height: 150px;
                font-size: 142px;
                line-height: 122px;
                border-width: 4px;
                top: 160px;
            }

            .status {
                width: 300px;
                left: 0;
                right: 0;
                top: 110px;
            }

            .jampoints {
                top: 200px;
            }

            .timeouts,
            .challenges
            {
                top: 315px;
                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }

        .phase {
            bottom: 82px;
        }


        .gameclock,
        .jam-counter
        {
            bottom: 32px;
        }

        .phase,
        .jam-counter {
            width: 300px;
            font-size: 48px;
        }

        .board-status {
            width: 300px;
            bottom: 28px;
            font-size: 52px;
            z-index: 20;
        }

        .board-status.overturned {
            font-size: 52px;
        }

        .breakclock {
            bottom: 22px;
            font-size: 96px;
            right: 22px;
        }
    }

    @media screen and (min-height: 1080px) {
        > *  {
            //outline: dotted 1px #0f0;
        }

        .jamclock {
            width: 600px;
            height: 300px;
            font-size: 20vw;
            &.longjam {
                font-size: 11vw;
                line-height: 280px;
            }
        }

        .team {
            width: 600px;
            height: 640px;
            > * {
                //outline: dotted 1px #0ff;
            }
            .score {
                top: 310px;
                height: 240px;
                font-size: 12vw;
                line-height: 200px;
            }

            .timeouts, .challenges {
                top: initial;
                bottom: 0;
                height: 72px;
                > img {
                    width: 64px;
                    height: 64px;
                }
            }

            .status {
                top: 260px;
                height: 100px;
                font-size: 3.5vw;
                &.shown {
                    transform: translateY(-30px);
                }
            }

            .jampoints {
                top: 360px;
                height: 8vw;
                font-size: 8vw;
                line-height: 7vw;
                width: 400px;
            }

            &.team-A {
                .jampoints.shown {
                    transform: translateX(180px);
                }
            }

            &.team-B {
                .jampoints.shown {
                    transform: translateX(-180px);

                }
            }

            > .logo {
                height: 300px;
                > img {
                    max-height: 300px;
                }
            }
        }

        .jamstate {
            top: initial;
            bottom: 300px;
            width: 75px;
            height: 75px;
        }

        .gameclock {
            width: 600px;
            font-size: 10vw;
            height: 200px;
            line-height: 180px;
            &.hours {
                font-size: 8vw;
            }
        }

        .jam-counter {
            width: 600px;
            height: 100px;
            font-size: 4.5vw;
            line-height: 90px;
        }

        .phase {
            width: 600px;
            bottom: 180px;
            height: 100px;
            font-size: 4.5vw;
            line-height: 90px;
        }
        
        .breakclock {
            right: 50px;
            bottom: 90px;
            height: 200px;
            width: 600px;
            line-height: 200px;
            font-size: 10vw;
            //outline: dotted 1px #0f0;
        }

        .league-logo {
            right: 250px;
            bottom: 75px;
            width: 200px;
            max-height: 200px;
        }

        .board-status {
            width: 600px;
            font-size: 4vw;
            height: 200px;
            line-height: 180px;
            
            &.upheld {
                font-size: 5vw;
                line-height: 180px;
            }
            
            &.overturned {
                font-size: 5vw;
                line-height: 180px;
            }
        }
    }
}

.capture-SB.jamming {
    .phase,
    .jam-counter,
    .league-logo,
    .team .timeouts,
    .team .challenges {
        opacity: 0.4;
    }
}

.capture-SB.light {
    background-color: $white;
    color: #111111;
    transition: 
        transform 500ms linear,
        opacity 150ms linear, 
        background-color 150ms ease-in-out 250ms,
        color 150ms ease-in-out 250ms
        ;
    /*transform: rotateY(360deg);*/

    .league-logo {
        filter: invert(1.0);
    }

    .jamclock.running {
        transition: color 150ms ease-in-out 250ms;
        color: $black;
    }

    .jamclock.warning {
        transition: color 150ms ease-in-out 250ms;
        color: #773300;
    }

    .jamclock.danger {
        transition: color 150ms ease-in-out 250ms;
        color: #990000;
    }

    .jamclock.stopped {
        transition: color 150ms ease-in-out 250ms;
        color: #555555;
    }

    .board-status.upheld {
        background-color: $grey;
        color: $black;
    }
    
    .board-status.overturned {
        background-color: $green;
        color: $white;
    }

    .jamstate {
        background-image: radial-gradient(#00FF00, #006600, #001100);
        box-shadow: 0px 0px 35px rgba(0, 255, 0, 0.5);
    }

    .jamstate.warning {
        background-image: radial-gradient(#FF0000, #990000, #001100);
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.5);
    }

    .board-status.timeout,
    .board-status.review
    {
        color: $white;
    }

    .board-status.injury {
        color: $white;
    }

    .phase, .jam-counter {
        font-weight: 700;
    }

    .team {
        .score {
            color: #FFFFFF !important;
            background-color: #222222 !important;
            border: solid 6px #111111;
            transition: 
                background-color 150ms ease-in-out 250ms,
                color 150ms ease-in-out,
                border 150ms ease-in-out 250ms
                ;
        }

        .status {
            border: solid 3px #111111;
            color: $white;
        }

        .status.powerjam {
            background-color: $powerjam;
        }

        .status.leadjammer {
            background-color: $green;
        }

        .status.challenge, 
        .status.timeout {
            background-color: $blood;
        }

        .jampoints {
            border: solid 3px #111111;
            color: #FFFFFF !important;
            background-color: #111111 !important;
        }

        .timeouts,
        .challenges
        {
            > img {
                filter: invert(100%);
            }
        }
    }
}