@import 'src/css/vars.scss';

.capture-form {
    .anthem-screen {
        position: absolute;
        z-index: 13;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        &.shown {
            opacity: 1;
        }

        .bio, .name {
            position: absolute;
            margin: auto;
            right: 36px;
            top: 36px;
            width: 480px;
            background-color: rgba(255, 255, 255, 0.75);
            font-size: 3.5vw;
            text-align: center;
            padding: 8px;
            color: $navy;
            font-weight: 600;
            border-radius: 8px;
            display: none;
            &.shown {
                display: block;
            }
        }

        .bio {
            top: initial;
            bottom: 26px;
            width: 480px;
            height: calc(100% - 100px);
            background-color: rgba(255, 255, 255, 0.75);
        }
    }
}

.popup-banner.anthem-banner {
    z-index: 13;
    background-size: cover;
    background-color: transparent;
    background-position: 0% 0%;
    width: 480px;
    height: 64px;
    bottom: 32px;
    display: none;
    > .content {
        background-color: rgba(255, 255, 255, 0.5);
        > .name {
            font-size: 3vw;
            line-height: 56px;
            text-align: center;
            text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
        }
    }
}

.capture-form.stream {
    > .anthem-screen {
        display: none;
    }

    .popup-banner.anthem-banner {
        display: block;
    }
}