@import 'src/css/vars.scss';

.capture-scores {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: $base-font-display;
    background-color: #111;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
    overflow: hidden;
    z-index: 4;

    > h1 {
        background-color: $navy;
        border-bottom: solid 3px $gold;
        margin: 0;
        padding: 16px;
        text-align: center;
        font-size: 4vw;
        transform: rotateY(90deg);
        transition: transform 150ms ease-in-out 500ms;
    }

    > .matches {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        > .match {
            overflow: hidden;
            width: 100%;
            grid-area: 1/1;
            display: grid;
            grid-template-columns: 10% 40% 40% 10%;
            transform: rotateX(90deg);
            transition: transform 150ms ease-in-out 500ms;
            &:nth-child(even) {
                background-color: #222;
            }

            .team {
                grid-area: 1/2;

                &:nth-child(2) {
                    grid-area: 1/3;
                }
                display: grid;
                grid-template-columns: 50% 50%;
                height: 100px;
                > .logo {
                    text-align: center;
                    > img {
                        padding: 8px;
                    }
                }

                > .score {
                    font-size: 6vw;
                    text-align: center;
                }
            }
        }
    }
    
    &.shown {
        transition: opacity 150ms ease-in-out 300ms;
        opacity: 1;
        > h1 {
            transform: rotateY(0deg);
        }
        > .matches {
            > .match {
                transform: rotateX(0deg);
                &:nth-child(1) {transition-delay: 500ms;}
                &:nth-child(2) {transition-delay: 600ms;}
                &:nth-child(3) {transition-delay: 700ms;}
                &:nth-child(4) {transition-delay: 800ms;}
                &:nth-child(5) {transition-delay: 900ms;}
                &:nth-child(6) {transition-delay: 1000ms;}
            }
        }
    }
}

.capture-form.stream {
    .capture-scores {
        right: initial;
        top: initial;
        bottom: 32px;
        left: 32px;
        width: 360px;

        opacity: 1;
        transform: rotateY(90deg);
        transition: transform 150ms ease-in-out;

        &.shown {
            transition: transform 150ms ease-in-out 300ms;
            transform: rotateY(0deg);
        }

        > h1 {
            font-size: 2vw;
            padding: 8px;
            border-top: solid 3px $gold;
        }

        > .matches {
            > .match {
                width: 100%;
                height: 50px;
                > .team {
                    > .logo {
                        > img {
                            max-height: 50px;
                            padding: 2px;
                        }
                    }
                    > .score {
                        font-size: 2.5vw;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}