@import 'src/css/vars.scss';

.penalty-tracker {
    position: absolute;
    margin: auto;
    display: grid;
    grid-template-rows: 48px auto;
    font-family: $base-font-display;
    background-color: #111;
    z-index: 5;

    > h1 {
        text-align: center;
        border-bottom: solid 2px $gold;
        grid-area: 1 / 1;
        background-color: $navy;
        margin: 0;
    }

    > .skaters {
        grid-area: 2 / 1;
        > .skater {
            display: grid;
            grid-template-columns: 50% 50%;
            border-bottom: solid 2px #333;
            padding: 5px;
            > .num {
                grid-area: 1 / 1;
                padding: 3px;
            }

            > .penalties {
                grid-area: 1 / 2;
                padding: 3px;
            }
        }
    }

    &.screen {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transition: opacity 150ms;
        grid-template-rows: 85px auto;
        &.shown {
            opacity: 1;
        }

        > h1 {
            font-size: 5vw;
            line-height: 75px;
        }

        .skaters {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            .skater {
                flex: 0 0 50%;
                font-size: 5vw;
                border: solid 2px #333;
                .num {
                    padding-left: 16px;
                }
            }
        }

        @media screen and (min-height: 1080px) {
            > h1 {
                font-size: 4vw;
            }
            .skaters {
                .skater {
                    font-size: 8vw;
                }
            }
        }
    }

    &.popup {
        display: none;
        right: 0;
        top: 0;
        width: 300px;
        transition: transform 150ms ease-in-out;
        transform: translateX(300px);

        .skaters {
            height: 50px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: flex-start;
            overflow: hidden;
            .skater {
                border: solid 1px #000;
                flex: 1 1 35px;
                line-height: 12px;
                padding: 0px;
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                .thumbnail {
                    display: none;
                }
                .num {
                    padding: 6px;
                    flex: 0;
                }
                .penalties {
                    background-color: #333;
                    padding: 6px;
                    overflow: hidden;
                    flex: 1;
                }
            }
        }
        > h1 {
            font-size: 1.2vw;
            border-bottom: none;
        }
        &.shown {
            transform: translateX(0px);
        }

        @media screen and (min-width: 1920px) {
            width: 600px;
            transform: translateX(600px);
            > * {
                //outline: dotted 1px #00FF00;
            }
            > h1 {
                font-size: 1.5vw;
            }

            > .skaters {
                height: 90px;
                .skater {
                    font-size: 1.5vw;
                    flex: 1 1 50px;
                    line-height: 1.5vw;
                }
            }
        }
    }
}

.capture-form.stream {
    .penalty-tracker {
        z-index: 7;
        &.screen {
            display: none;
        }

        &.popup {
            display: block;
        }
    }
}