@import 'src/css/vars.scss';

.capture-scorekeeper {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    transition: opacity 150ms;
    opacity: 0;

    &.shown {
        opacity: 1;
    }

    .screen {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 50% 50%;
        > .team {
            display: grid;
            grid-template-rows: 20% 20% 20% 20% 20%;
            > .skater {
                grid-area: 1 / 1;
                font-family: $base-font-display;
                background-color: #222 !important;
                border-bottom: solid 2px #222;
                opacity: 0;
                transition: opacity 500ms ease-in-out 250ms;
                overflow: hidden;

                &:first-child {
                    .num {
                        background-repeat: no-repeat;
                        background-image: url('~images/icons/star.png');
                    }
                }
                &:nth-child(2) {
                    grid-area: 2 / 1;
                    .num {
                        background-repeat: no-repeat;
                        background-image: url('~images/icons/diagstripe.png');
                    }
                }
                &:nth-child(3) {grid-area: 3 / 1;}
                &:nth-child(4) {grid-area: 4 / 1;}
                &:nth-child(5) {grid-area: 5 / 1;}
                display: grid;
                grid-template-columns: 150px auto;
                grid-template-rows: 100%;
                .thumbnail {
                    grid-area: 1 / 1;
                    > img {
                        transition: transform 150ms linear 350ms;
                        transform: rotateY(90deg);
                    }
                }

                .num {
                    grid-area: 1 / 2;
                    font-size: 8vw;
                    line-height: 10vw;
                    text-align: center;
                    text-shadow: 4px 4px 2px rgba(0,0,0,0.5);
                    background-position: calc(100% - 16px) center;
                }

                .num, .thumbnail {
                    transition: transform 250ms ease-in-out 0ms;
                    transform: translateX(-2000px);
                }

                &.shown {
                    opacity: 1;
                    transition: opacity 500ms ease-in-out 0ms;
                    .num, .thumbnail {
                        transform: translateX(0px);
                    }

                    .thumbnail {
                        > img {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }

            &:nth-child(2) {
                > .skater {
                    grid-template-columns: auto 150px;
                    .num, .thumbnail {
                        transform: translateX(2000px);
                    }

                    .num {
                        grid-area: 1 / 1;
                        background-position: 16px center;
                    }

                    .thumbnail {
                        grid-area: 1 / 2;
                        text-align: right;
                    }

                    &.shown {
                        > .num, .thumbnail {
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }

    .popup {
        display: none;
        position: absolute;
        margin: auto;
        top: 70px;
        right: 32px;
    
        .jammers {
            display: flex;
            flex-flow: row wrap;
            transform: rotateX(90deg) scaleX(1.5);
            transform-origin: 50% 50%;
            transition: transform 150ms ease-in-out;
    
            > .skater {
                position: relative;
                flex: 1;
                width: 80px;
                height: 80px;
                overflow: visible;
                transform-origin: 50% 50%;
                transform: translateX(200px);
                transition: all 150ms ease-in-out;
                opacity: 0;
                &.shown {
                    transform: translateX(0px);
                    opacity: 1;
                }
    
                > img {
                    height: 100%;
                }
    
                > label {
                    position: absolute;
                    margin: auto;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    bottom: -24px;
                    padding: 2px 3px;
                    text-align: center;
                    font-family: $base-font-display;
                    font-size: 22px;
                    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                }
            }
        }
    }
    
    &.shown {
        .popup {
            .jammers {
                transform: rotateX(0deg) scaleX(1);
            }
        }
    }
}


.capture-form.stream {
    .capture-scorekeeper {
        .screen {
            display: none;
        }
        .popup {
            display: block;
        }
    }
}
