@import 'src/css/vars.scss';

.capture-form {
    .announcer-banner {
        z-index: 12;
        background-size: 70px auto;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        position: absolute;
        right: 0;
        top: 0;
        width: 500px;
        height: 70px;
        background-color: $navy;
        transform: translateX(1000px);
        transition: transform 500ms ease-in-out 250ms;
        &.shown {
            transform: translateX(0px);
        }
    
        > .content {
            display: grid;
            opacity: 0;
            transition: opacity 150ms ease-in-out 500ms;
            grid-template-columns: 48px auto 70px;
            height: 70px;
            > .icon {
                grid-area: 1 / 1;
                align-self: center;
                > .icon {
                    height: 48px;
                }
            }
    
            > .names {
                grid-area: 1 / 2 / 1;
                padding: 16px;
                font-size: 3vw;
                text-align: center;
            }
        }
    
        &.shown {
            > .content {
                transition-duration: 500ms;
                transition-delay: 500ms;
                opacity: 1;
            }
        }

        @media screen and (min-height: 1080px) {
            width: 650px;
            top: 25px;
        }
    }
    
    &.stream {
        .announcer-banner {
            > .content {
                > .names {
                    line-height: 35px;
                    font-size: 1.8vw;
                }
            }
        }
    }
}