@import 'src/css/vars.scss';

.penalty-tracker {
    position: absolute;
    margin: auto;
    display: grid;
    grid-template-rows: 48px auto;
    font-family: $base-font-display;
    background-color: #111;

    > h1 {
        text-align: center;
        border-bottom: solid 2px $gold;
        grid-area: 1 / 1;
        background-color: $navy;
        margin: 0;
    }

    > .skaters {
        grid-area: 2 / 1;
        > .skater {
            display: grid;
            grid-template-columns: 50% 50%;
            border-bottom: solid 2px #333;
            padding: 5px;
            > .num {
                grid-area: 1 / 1;
                padding: 3px;
            }

            > .penalties {
                grid-area: 1 / 2;
                padding: 3px;
            }
        }
    }

    &.screen {
        z-index: 10;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transition: opacity 150ms;
        grid-template-rows: 85px auto;
        &.shown {
            opacity: 1;
        }

        > h1 {
            font-size: 5vw;
            line-height: 75px;
        }

        .skaters {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            .skater {
                flex: 0 0 50%;
                font-size: 5vw;
                border: solid 2px #333;
                .num {
                    padding-left: 16px;
                }
            }
        }
    }

    &.popup {
        display: none;
        right: 32px;
        bottom: 32px;
        width: 200px;
        transition: transform 150ms ease-in-out;
        transform: translateX(300px);
        z-index: 10;

        .skaters {
            .skater {
                .thumbnail {
                    display: none;
                }
            }
        }
        > h1 {
            font-size: 2vw;
            padding: 8px;
        }
        &.shown {
            transform: translateX(0px);
        }
    }
}

.capture-form.stream {
    .penalty-tracker {
        &.screen {
            display: none;
        }

        &.popup {
            display: block;
        }
    }
}