.main-camera {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 150ms linear, transform 150ms linear;
    z-index: 1;
}

.capture-form.camera-video-5050 .main-camera,
.capture-form.camera-video-8020 .main-camera,
.capture-form.camera-video-2080 .main-camera,
.capture-form.camera-video-lt .main-camera,
.capture-form.camera-video-lr .main-camera
{
    z-index: 99;
}

.main-camera.shown {
    opacity: 1;
}

.main-camera.video-5050 {
    transform: scale(0.5) translateX(-50%);
}

.main-camera.video-2080 {
    transform: scale(0.33) translateX(-101%);
    border: solid 4px #CCCCCC;
}

.main-camera.video-8020 {
    transform: scale(0.66) translateX(25.3%);
}

.main-camera.video-lt,
.main-camera.video-lr {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.main-camera.video-lt {
    transform: scale(0.3) translateX(-105%) translateY(95%);
}

.main-camera.video-lr {
    transform: scale(0.3) translateX(105%) translateY(95%);
}