@import 'src/css/vars.scss';

.popup-banner.announcers {
    z-index: 12;
    background-size: 64px auto;
    > .content {
        display: grid;
        opacity: 0;
        transition: opacity 150ms 0ms ease-in-out;
        grid-template-columns: 48px auto;
        > .icon {
            grid-area: 1 / 1;
            align-self: center;
            > .icon {
                height: 48px;
            }
        }

        > .names {
            grid-area: 1 / 2;
            padding: 16px;
            font-size: 3vw;
            text-align: center;
        }
    }

    &.shown {
        > .content {
            transition-duration: 500ms;
            transition-delay: 500ms;
            opacity: 1;
        }
    }
}

.capture-form.stream {
    .popup-banner.announcers {
        width: 480px;
        bottom: 32px;
        height: 64px;
        > .content {
            > .names {
                text-align: left;
                font-size: 1.5vw;
            }
        }
    }
}