@media (max-width: 1899px) and (max-height: 999px) and (min-width: 1270px) {
	#root {
		width: 100%;
		height: 100%;
	}
	.app-control {
		&.split {
			.scoreboard-control {
				.team {
					.controls {
						display: grid;
						grid-template-columns: repeat(3, 33%);
						.counter-button {
							display: flex;
							flex-flow: column nowrap;
							font-size: 16px;
							.caption {
								padding: 3px;
								text-align: center;
							}
							.value {
								font-size: 24px;
								padding: 6px;
								width: 80%;
								align-self: center;
							}
						}
					}

					&.team-b {
						.counter-button {
							flex-flow: column-reverse nowrap;
						}
					}

					.status {
						position: absolute;
						top: 125px;
						left: 5px;
						right: 5px;
						border-radius: 16px;
					}
				}

				.center-controls {
					display: grid;
					grid-template-columns: 50% 50%;
					grid-template-rows: repeat(3, auto);
					.jam-clock {
						grid-column: 1;
						font-size: 72px;
					}
					.jam-break {
						grid-column: 2;
						display: flex;
						flex-flow: column nowrap;
						.jam-counter {
							font-size: 24px;
						}

						.break-clock {
							font-size: 24px;
						}
					}

					.status {
						grid-row: 2;
						grid-column: 2;
						margin: 6px;
					}

					.phase {
						grid-row: 2;
						grid-column: 1;
						margin: 6px;
					}
					.game-clock {
						grid-column: 1/-1;
						grid-row: 3;
						display: grid;
						grid-template-columns: 50% 1fr auto;
						grid-template-rows: auto;
						.game-clock-editor {
							padding: 0px;
							font-size: 24px;
							grid-column: 1;
							input[type='number'] {
								height: 48px;
							}
						}
					}
				}
			}
		}
	}
}
