@import 'css/vars.scss';

.CFG-app {
    position: relative;
    .sections {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-flow: column wrap;

        .title {
            flex: 0;
            background-color: $purple;
            display: flex;
            flex-flow: row wrap;
            .text {
                padding: 6px;
                flex: 1;
            }

            .icon {
                flex: 0;
            }
        }

        .icons {
            flex: 0;
            img {
                padding: 3px;
            }
        }

        .lists {
            flex: 1;
            overflow: hidden visible;
            .record-list {
                display: none;
                &.shown {
                    display: block;
                }
            }
        }
    }

    .forms {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% - 300px);
        height: 100%;
        overflow: hidden;
        background-color: $black;
    }

    .peer-item {
        display: flex;
        flex-flow: row wrap;
        > button {
            flex: 1;
        }

        > .icon {
            flex: 0 38px;
            max-height: 38px;
        }
    }
}

.CFG-app-panel {
    top: initial;
    bottom: 48px !important;
    height: calc(100% - 72px);
}

@media screen and (max-width:960px) and (min-height: 1080px) {
    .CFG-app-panel {
        > .content {
            .forms {
                width: calc(100% - 300px);
            }

            > .sections {
                width: 300px;
                > .title {
                    .text {
                        font-size: 16px;
                    }
                    > .icon {
                        max-height: 36px;
                    }
                }
                > .lists {
                    > .record-list {
                        width: 100%;
                        > button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}