.panel.record-editor-panel {
    overflow: hidden;
    transform: translateX(-100%) !important;
    transition: transform 250ms;
    .record-editor-base {
        position: relative;
        width: 100%;
        height: 100%;
        > .record-form {
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            transform: translateX(-100%);
            transition: transform 150ms;
        }

        .record-form.shown {
            transform: translateX(0);
        }

        > .record-list {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            width: 300px;
            height: calc(100% - 36px);
            overflow: hidden auto;
        }

        .search-bar {
            position: absolute;
            margin: auto;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 36px;
            display: flex;
            flex-flow: row wrap;
            input[type="text"] {
                flex: 1;
            }

            .icon {
                flex: 0 0 26px;
                height: 36px;
            }
        }

        .slides {
            display: flex;
            flex-flow: row wrap;
            position: relative;
            align-items: center;
    
            .sortable {
                flex: 0 0 256px;
                max-width: 25%;
                height: 144px;
                overflow: hidden;
    
                > canvas {
                    position: absolute;
                    max-width: calc(100% - 12px);
                    max-height: calc(100% - 12px);
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    pointer-events: none;
                }

                .slide-buttons {
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: linear-gradient(0deg, #000000, rgba(0,0,0,0));
                    z-index: 2;
                    text-align: right;
                    transition: transform 150ms;
                    transform: translateY(100%);
                    > .icon {
                        max-height: 36px;
                        pointer-events: all;
                    }
                }
            }

            .sortable:hover {
                .slide-buttons {
                    transform: translateY(0);
                }
            }
        }
    }
}

.panel.record-editor-panel.opened {
    transform: translateX(0) !important;
}

.panel.peer-record-request {
    max-height: 300px;
    > .content {
        padding: 8px;
        background-color: rgba(80, 40, 0, 1);
    }
}