.team-picker {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    .team-selection {
        height: 100%;
        grid-area: 1 / 1;
        text-align: center;
        &:nth-child(2) {
            grid-area: 1 / 2;
        }
        select {
            margin: 3px;
            width: calc(100% - 6px);
        }
        img {
            max-width: 200px;
            max-height: 200px;
            cursor: pointer;
        }
    }
}