@import '~css/vars.scss';

.CC-app {

    .capture-preview {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 640px;
        height: 100%;

        > canvas {
            border: solid 1px #CCCCCC;
        }

        .camera-styles {
            > div {
                overflow: hidden;
                > .icon {
                    float: left;
                    margin-left: 5px;
                }
            }
        }

        .watcher-control {
            padding: 5px;
        }

        .toggle-icons {
            display: flex; 
            flex-flow: row wrap;
            flex: 0;
            > .icon {
                max-height: 38px;
                margin: 1px;
            }
        }

        .monitor-control {
            overflow: hidden;
            > * {
                float: left;
                margin: 2px;
            }
        }
    }

    .scoreboard {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25%;

        > .buttons {
            background-color: transparent;
            justify-content: flex-start;
            > button {
                background-color: $purple;
            }
        }
        
        .scorebanner {
            .counter,
            .clock
            {
                cursor: pointer;
                text-align: center;
                font-family: $base-font-display;
                font-size: 36px;
                padding: 6px;
                &:hover{
                    background-color: $black-faded;
                }
            }
        
            .team-score,
            .jam-counter
            {
                .counter {
                    font-size: 36px;
                }
                td:nth-child(3) {
                    display: none;
                }
            }

            .team {
                .logo {
                    text-align: center;
                    > img {
                        max-width: 100px;
                        max-height: 100px;
                    }
                }
                .score {
                    font-size: 72px;
                    padding: 8px;
                    width: calc(100% - 6px);
                    margin: 3px;
                    border: solid 2px #ffffff;
                    border-radius: 8px;
                }

                .team-controls {
                    display: flex;
                    justify-content: center;
                    button {
                        img {
                            height: 36px;
                        }
                    }
                    button:last-child {
                        display: none;
                    }
                }
            }

            .panel.popup {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }

            .phase-control {
                position: fixed;
                bottom: 102px;
                left: 0;
                right: 0;
                top: initial;
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                .icon {
                    height: 48px;
                }
                
                input[type="number"] {
                    max-width: 64px;
                    font-size: 24px;
                }
            }

            .phase {
                position: fixed;
                bottom: 148px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                font-size: 36px;
                font-family: $base-font-display;
            }

            .board-status-controls {
                text-align: center;
                .icon {
                    border: solid 1px #CCCCCC;
                    height: 46px;
                    padding: 3px;
                }
            }
        
            .phase-selection {
                button {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    > div {
                        flex:1;
                        text-align: left;
                    }
                    > div:last-of-type {
                        flex: 0;
                    }
                }
            }

            .team-panel {
                .team-selection {
                    text-align: center;
                    select {
                        width: 100%;
                    }
                    img {
                        max-width: 150px;
                        max-height: 150px;
                        cursor: pointer;
                    }
                }

                .buttons {
                    height: 96px;
                    .toggle-button {
                        width: 50%;
                        margin: 0px;
                        font-size: 14px;
                    }
                }
            }

            .jam-controls {
                display: flex;
                flex-flow: row wrap;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                button {
                    flex: 1;
                    font-weight: bold;
                    font-size: 36px;
                }

                .icon {
                    flex: 0;
                }
            }

            .scores-panel {
                .match-item {
                    table {
                        width: 100%;
                    }
                    td {
                        text-align: center;
                    }

                    td.match-team, td.match-score {
                        width: 60px;
                    }

                    input[type="number"] {
                        text-align: center;
                        font-size: 32px;
                        width: 100px;
                    }

                    .match-date {
                        text-align: center;
                        background-color: $purple;
                        padding: 3px;
                    }

                    img {
                        max-width: 75px;
                        max-height: 75px;
                    }

                    .icon {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }

    .stream-panel {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25%;
        display: flex;
        flex-flow: column wrap;
        overflow: hidden;
        > .panels {
            flex: 1;
            width: 100%;
            position: relative;
            display: grid;
            grid-template: 375px auto / auto;

            .scorekeeper {
                grid-area: 1 / 1;
                .positions {
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: 50% 50%;
                    .team {
                        grid-area: 1 / 1;
                        .skater {
                            display: grid;
                            &:first-of-type {
                                display: grid;
                            }

                            background-color: #333;
                            border: solid 1px #000;

                            grid-template-rows: 75px;
                            grid-template-columns: 75px auto;
                            .thumbnail {
                                grid-area: 1 / 1 / 2 / 1;
                            }

                            .num {
                                grid-area: 1 / 2 / 1 / 2;
                                line-height: 75px;
                                text-align: center;
                                font-family: $base-font-display;
                                font-size: 24px;
                            }
                            .name {
                                display: none;
                            }
                        }
                    }

                    .team:nth-child(2) {
                        grid-area: 1 / 2;
                    }
                }
            }

            .penalty-tracker {
                grid-area: 2 / 1;
                background-color: #222;
                .skaters {
                    > div.stack-panel {
                        font-family: $base-font-display;
                        > div {
                            padding: 6px;
                            font-size: 24px;
                            border: solid 1px #000;
                        }
                    }
                }
            }
        }

        > .panel {
            max-width: 100%;
            max-height: calc(100% - 48px);
            top: 0;
            bottom: initial;
            > .title {
                display: none;
            }

            > .content {
                height: calc(100% - 48px);
                top: 0px;
            }
            
            .roster {
                .roster-skaters {
                    > button {
                        border: none;
                        padding: 0px;
                        > div {
                            display: flex;
                            flex-flow: row wrap;
                            font-size: 18px;
                            border: solid 1px #999999;
                            border-bottom: none;
                            padding: 3px;
                            > .num {
                                flex: 0 0 100px;
                                > img {
                                    max-height: 48px;
                                }
                            }
                            > .name {
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }

        > .panel-icons
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            text-align: right;
            flex: 0 0 48px;
            > button {
                background-color: $purple;
                padding: 3px 8px;
                &.active {
                    background-color: $green;
                }
            }
        }
    }
}

@media screen and (max-width:960px) and (min-height: 1080px) {
    .CC-app {
        .capture-preview {
            height: 480px;
            bottom: initial;
            overflow: hidden;
            width: 100%;
            .camera-styles {
                position: absolute;
                right: 0;
                bottom: 116px;
            }

            > p:nth-child(even) {
                top: 120px;
            }

            .monitor-control {
                position: absolute;
                right: 4px;
                height: 34px;
            }

            .watcher-control {
                position: absolute;
                right: 0;
                top: 48px;
                width: calc(100% - 640px);
            }

            .toggle-icons {
                position: absolute;
                right: 0;
                bottom: 220px;
                width: calc(100% - 650px);
                .icon {
                    max-height: 36px;
                }
            }
        }

        .scoreboard {
            top: initial;
            height: calc(100% - 380px);
            width: 50%;
            .scorebanner {
                .phase-control {
                    justify-content: center;
                }

                .jam-controls {
                    justify-content: center;
                    button {
                        flex: 0 0 300px;
                    }
                }

                .team-panel {
                    .team-selector {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: auto;
                        .team-selection {
                            grid-area: 1/1;
                            &:nth-child(even) {
                                grid-area: 1/2;
                            }
                        }
                    }
                }
            }
        }

        .stream-panel {
            top: initial;
            height: calc(100% - 380px);
            width: 50%;
        }
    }
}