@import '~css/vars.scss';

.CC-app-panel {
    > .buttons {
        justify-content: flex-end;
        > button {
            flex: 0;
        }
        .toggle-icons {
            flex: 1;
            padding: 3px;
            .icon {
                max-height: 36px;
                margin: 0px 3px;
                opacity: 0.5;
                &.active{
                    background-color: transparent;
                    opacity: 1;
                    filter: brightness(50%) sepia(100%) saturate(1000%) hue-rotate(90deg);
                }
            }
        }
    }
}

.CC-app {

    .scoreboard {
        width: 33%;
        top: 0;
        left: 0;
        right: initial;
        bottom: 0;

        > .buttons {
            background-color: transparent;
            justify-content: flex-start;
            > button {
                background-color: $purple;
            }
        }
        
        .scorebanner {
            .counter,
            .clock
            {
                cursor: pointer;
                text-align: center;
                font-family: $base-font-display;
                font-size: 36px;
                padding: 6px;
                &:hover{
                    background-color: $black-faded;
                }
            }
        
            .team-score,
            .jam-counter
            {
                .counter {
                    font-size: 36px;
                }
                td:nth-child(3) {
                    display: none;
                }
            }

            .team {
                .logo {
                    text-align: center;
                    > img {
                        max-width: 100px;
                        max-height: 100px;
                    }
                }
                .score {
                    font-size: 72px;
                    padding: 8px;
                    width: calc(100% - 6px);
                    margin: 3px;
                    border: solid 2px #ffffff;
                    border-radius: 8px;
                }

                .team-controls {
                    display: flex;
                    justify-content: center;
                    button {
                        img {
                            height: 36px;
                        }
                    }
                    button:last-child {
                        display: none;
                    }
                }
            }

            .phase-control {
                position: fixed;
                bottom: 102px;
                left: 0;
                right: 0;
                top: initial;
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                .icon {
                    height: 48px;
                }
                
                input[type="number"] {
                    max-width: 64px;
                    font-size: 24px;
                }
            }

            .phase {
                position: fixed;
                bottom: 148px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                font-size: 36px;
                font-family: $base-font-display;
            }

            .board-status-controls {
                text-align: center;
                .icon {
                    border: solid 1px #CCCCCC;
                    height: 46px;
                    padding: 3px;
                }
            }
        
            .phase-selection {
                button {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    > div {
                        flex:1;
                        text-align: left;
                    }
                    > div:last-of-type {
                        flex: 0;
                    }
                }
            }

            .jam-controls {
                display: flex;
                flex-flow: row wrap;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 16px;
                margin: auto;
                max-width: 300px;
                button {
                    flex: 1;
                    font-weight: bold;
                    font-size: 36px;
                }

                .icon {
                    flex: 0;
                }
            }

            .scores-panel {
                .match-item {
                    table {
                        width: 100%;
                    }
                    td {
                        text-align: center;
                    }

                    td.match-team, td.match-score {
                        width: 60px;
                    }

                    input[type="number"] {
                        text-align: center;
                        font-size: 32px;
                        width: 100px;
                    }

                    .match-date {
                        text-align: center;
                        background-color: $purple;
                        padding: 3px;
                    }

                    img {
                        max-width: 75px;
                        max-height: 75px;
                    }

                    .icon {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }

    > .announcers,
    > .anthem
    {
        > .title {
            .icon {
                display: none;
            }
        }
    }

    > .announcers {
        bottom: 235px;
        right: 0;
        left: initial;
        top: initial;
        border-left: solid 1px #333;
        border-top: solid 1px #333;
        max-height: 240px;
        max-width: 250px;
    }

    > .anthem {
        bottom: 0;
        right: 0;
        left: initial;
        top: initial;
        border-top: solid 1px #333;
        border-left: solid 1px #333;
        max-height: 235px;
        max-width: 250px;
    }

    > .roster {
        right: 0;
        top: 0;
        bottom: 0;
        left: initial;
        width: 35%;
        height: 100%;
        max-height: 100%;
    }

    > .camera,
    > .monitor
    {
        max-width: 350px;
        max-height: 350px;
    }

}

@media screen and (max-width:960px) and (min-height: 1080px) {
    .CC-app {
        .scoreboard {
            top: initial;
            height: calc(100% - 340px);
            width: 50%;
            .scorebanner {
                .phase-control {
                    justify-content: center;
                }
            }
        }

        > .announcers {
            max-width: 50%;
            top: 0;
            bottom: initial;
            left: 0;
            right: initial;
        }
        > .anthem {
            max-width: 50%;
            top: 0;
            bottom: initial;
        }
    }
}